.popup__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.popup__wrapper.active {
    opacity: 1;
    visibility: visible;
}

.popup {
    position: relative;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    min-height: 20vh;
    width: 60vw;
    background-color: white;
    border-radius: 4px;
    padding: 5px 15px;
}

.close__popup__btn {
    position: absolute;
    z-index: 99;
    top: 4%;
    right: 4%;
    font-size: 18px;
}

.popup__content {
    margin: 15px 0px;
}

@media(max-width:600px) {
    .popup {
        width: 90vw;
    }
}